@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root {
    --laranja: #ff570a;
    --amarelo: #FFC247;
    --azul-claro: #449dd1;
    --azul-escuro: #12355B;
    --azul-titulos: #02033B;
    --font-titulo: "Oxanium", sans-serif;
    --font-texto: "inter", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-texto);
}

p,
h1 {
    margin: 0;
}

.mobile {
    display: none;
}

.container-sys {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.nav-lateral {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 5% 2%;
    background-color: var(--azul-escuro);
}

.links {
    width: 100%;
    height: 60%;
}

.links .link-lateral {
    display: flex;
    width: 100%;
    padding: 2% 3%;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: .6s;
    margin-bottom: 2vh;
}

.links .ativo {
    background-color: var(--laranja);
}

.links .link-lateral:hover {
    background-color: #1e4875;
}

.links .ativo:hover {
    background-color: #ba4007;
}

.btn-lateral {
    width: 100%;
    padding: 2% 3%;
    border-radius: 5px;
    color: white;
    transition: .6s;
    margin-bottom: 2vh;
    border: none;
    text-align: start;
    background-color: #1e4875;
}

.btn-lateral:hover {
    background-color: #2b5c91;
}

.conteudo {
    width: 80%;
    height: auto;
    padding: 5vh 3vw;
}

.conteudo .titulo {
    font-family: var(--font-titulo);
    color: var(--azul-claro);
    margin-bottom: 2vh;
}

.opcao-add {
    width: 100%;
    display: flex;
    justify-content: end;
}

.opcao-add .btn-add-desk {
    border: none;
    /* display: flex; */
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: .5vh .3vw;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.opcao-add p {
    font-family: var(--font-titulo);
    font-size: 20px;
    margin-right: .5vw;
}

.opcao-add img {
    width: 30px;
}

.btn-add-desk:hover {
    background-color: rgb(216, 216, 216);
}

.tabela {
    width: 100%;
    height: auto;
    padding: 2vh 0vw;
}

.modal-cad{
    /* /* display: flex; */
    background-color: #ff570a;
    /* width: 100%; */
    /* height: 50vh; */ 
}
.cinza{
    background-color: #d7d7d7;
}

@media only screen and (max-width: 1000px) {
    .desktop {
        display: none;
    }



    .mobile {
        display: flex;
    }

    .conteudo {
        margin-top: 5vh;
        width: 100%;
        height: auto;
        padding: 5vh 3vw;
    }

    .nav-mobile {
        background-color: var(--azul-escuro);
    }

    .opcao-add img {
        width: 35px;
    }
}

.cinza {
    background-color: #02033B;
}