@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root {
    --laranja: #ff570a;
    --amarelo: #FFC247;
    --azul-claro: #449dd1;
    --azul-escuro: #12355B;
    --azul-titulos: #02033B;
    --font-titulo: "Oxanium", sans-serif;
    --font-texto: "inter", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;

}

html {
    /* Scroll suave para a ancora */
    scroll-behavior: smooth;
}

.d {
    display: none;
}

body {
    overflow-x: hidden;
    font-family: var(--font-texto);
}

.container {
    width: 100vw;
    height: 100vh;
}

/* Navbar */
nav {
    z-index: 2;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #ffffffeb;
    backdrop-filter: blur(2px);
    border-bottom: solid 2px var(--azul-escuro);
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 50%;
    height: 100%;
    /*mudar depois */
}

.nav-links {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    color: var(--azul-escuro);
}

.nav-acessos {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-acessos .acessos {
    border-radius: 20px;
    background-color: var(--azul-escuro);
    margin-right: 8%;
    transition: .6s;
}

.nav-acessos .acessos:hover {
    background-color: var(--azul-claro);
}

.nav-acessos .login {
    width: 80px;
    height: 30px;
}

.nav-acessos .cad {
    width: 130px;
    height: 30px;
}

.nav-acessos .acessos a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/* home */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.lado {
    padding-top: 4vh;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.cadastro-imagem {
    display: flex;
    justify-content: left;
    background-size: cover; 
    width: 50%;
    overflow: hidden;
}



.container-home {
    display: flex;
}

.area-home {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-cad {
    font-family: var(--font-titulo);
    font-size: 1.3rem;
    color: black;
    align-self: center;
}

.formulario {
    font-family: var(--font-texto);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5%;
    color: rgba(0, 0, 0, 0.47);
    font-weight: bold;
}

.formulario .campo span {
    font-size: 1rem;
}

.formulario input {
    margin-top: 1%;
    width: 40vw;
    padding: 2vh;
    border-radius: 15px;
    border: none;
    background-color: rgb(225, 225, 225);
}

.redirecionar {
    padding-top: 1vh;
    padding-bottom: 6vh;
    display: flex;
    align-self: flex-start;
}

.redirecionar span {
    align-self: center;
    font-size: 0.8rem;
}
.redirecionar a {
    font-size: 0.8rem;
}

.formulario button {
    font-size: 1rem;
    padding: 1.5vh;
    align-self: center;
    background-color: var(--azul-escuro);
    color: white;
    width: 9vw;
    border-radius: 30px;
}

.campo {
    margin-top: 20px;
}

.area-home .card-img {
    width: 75%;
    height: 75%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 8px 15px 0px var(--azul-escuro);
}

/* footer */
footer {
    width: 100vw;
    height: 75vh;
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
}

footer .links {
    width: 55%;
    height: 80%;
    padding: 0% 5%;
}

footer .links .titulo h1 {
    font-family: var(--font-titulo);
    font-size: 60px;
    font-weight: 600;
    color: #FFF;
}

.footer-infos {
    /* background-color: #449dd1; */
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
}

.midias img {
    width: 30px;
    height: 30px;
    margin-right: 5%;
    margin-top: 5%;
}

.termos a,
.copy p,
.text-desc p {
    color: #FFF;
    font-size: 15px;
    margin-right: 5%;
}

.copy p {
    margin-right: 20%;
}

footer .contato {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

footer .card {
    width: 65%;
    height: 225px;
    border-radius: 30px;
    background-color: var(--amarelo);
    background-image: url(../assets/icons/c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--azul-titulos)
}

footer .card h2 {
    font-family: var(--font-titulo);
}

footer .card>div {
    width: 100%;
    height: 30px;
    display: flex;
}

footer .card input {
    width: 75%;
    height: 100%;
    padding: 0% 5%;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

footer .card button {
    width: 25%;
    height: 100%;
    border: none;
    text-align: center;
    color: #fff;
    background-color: var(--azul-titulos);
    border-radius: 0px 20px 20px 0px;
    font-weight: 600;
    cursor: pointer;
}