@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root{
    --laranja: #ff570a;
    --azul-claro: #449dd1;
    --azul-escuro: #12355b;
    --font-titulo: "Oxanium", sans-serif;
    --font-texto: "inter", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

.container-css {
    width: 100vw;
    height: 100vh;
}
h1{
    font-family: var(--font-titulo);
    color: var(--azul-claro);
}
h2{
    font-family: var(--font-texto);
    color: var(--laranja);
    font-size: 12px;
}