@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chewy&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root {
    --laranja: #ff570a;
    --amarelo: #FFC247;
    --azul-claro: #449dd1;
    --azul-escuro: #12355B;
    --font-titulo: "Oxanium", sans-serif;
    --font-texto: "inter", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;

}

html {
    /* Scroll suave para a ancora */
    scroll-behavior: smooth;
}

.d {
    display: none;
}

body {
    overflow-x: hidden;
    font-family: var(--font-texto);
}

.container {
    width: 100vw;
    height: 100vh;
}

/* Navbar */
nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #ffffffdb;
    backdrop-filter: blur(2px);
    border-bottom: solid 2px var(--azul-escuro);
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 50%;
    height: 100%;
    /*mudar depois */
}

.nav-links {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    color: var(--azul-escuro);
}

.nav-acessos {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-acessos .acessos {
    border-radius: 20px;
    background-color: var(--azul-escuro);
    margin-right: 8%;
    transition: .6s;
}

.nav-acessos .acessos:hover {
    background-color: var(--azul-claro);
}

.nav-acessos .login {
    width: 80px;
    height: 30px;
}

.nav-acessos .cad {
    width: 130px;
    height: 30px;
}

.nav-acessos .acessos a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/* home */
.container-home {
    display: flex;
}

.area-home {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-home .card-img {
    width: 75%;
    height: 75%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 8px 15px 0px var(--azul-escuro);
}

.infos {
    width: 75%;
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.infos h1 {
    font-family: var(--font-titulo);
    color: var(--azul-escuro);
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
}

.infos h1:nth-child(2) {
    margin-top: -25px;
}

.infos p {
    font-size: 20px;
    color: var(--azul-escuro);
}

.infos .infos-acessos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos .infos-acessos {
    
}

.infos .infos-acessos a {
    width: 45%;
    height: 50px;
    border-radius: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.btn-saibaMais {
    background-color: var(--amarelo);
}
.btn-saibaMais:hover {
    background-color: #ffb520;
}

.btn-contato {
    border: solid 2px var(--azul-escuro);
}
.btn-contato:hover{
    background-color: var(--azul-claro);
    color: white;
}


